@model IEnumerable<Helluz.Models.TokenQr>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaGeneracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaGeneracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
                <td>
                    <img src="~/qr/qr_@(item.IdToken).png"
                         alt="QR"
                         width="100"
                         height="100" />
                </td>


            <td>
                <a asp-action="Details" asp-route-id="@item.IdToken">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.IdToken">Delete</a>
            </td>
        </tr>
        }
        <div class="mb-3">
            <a asp-action="GenerarQr" class="btn btn-success">
                <i class="bi bi-qr-code"></i> Generar QR
            </a>
        </div>

    </tbody>
</table>
