@model IEnumerable<Helluz.Models.Disciplina>

@{
    ViewData["Title"] = "Index";
}

<h1>Disciplinas</h1>

<p>
    <a asp-action="Create">Agregar Nueva Disciplina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDisciplina">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdDisciplina">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDisciplina">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
